@page "/StartListening"
@rendermode InteractiveServer
@inject HandleListener listener

<PageTitle>Start Listening</PageTitle>


<div>
    <label for="portConf">Enter an IP and port:</label>
    <input id="portConf" type="text" name="portConf" size="30" placeholder="Port" @bind="_newPort" />
    <input id="ipConf" type="text" name="ipConf" size="30" placeholder="IP" @bind="_ipAddress" />
    <button class="btn btn-primary" @onclick="Added">Create Listener</button>
</div>

@code
{
    private string _ipAddress = string.Empty;
    private string _newPort = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        //await listener.CreateWaveformAudio(@"C:\Users\James\Desktop\Dissertation\VoIPPresenter\output_0.wav", @"C:\Users\James\Desktop\Dissertation\VoIPPresenter\wwwroot\images\hello");
    }

    private async Task Added()
    {
        if(PortValid(out int portNo) && IpValid())
        {
            await listener.StartAsync(_ipAddress, portNo);
        }
        else
        {
            // Log errors
        }
    }

    private bool PortValid(out int portNo) => int.TryParse(_newPort, out portNo) && portNo >= 0 && portNo <= 65535;

	private bool IpValid() => IPAddress.TryParse(_ipAddress, out _);
}