@page "/StartListening"
@rendermode InteractiveServer
@inject HandleListener listener

<PageTitle>Start Listening</PageTitle>


<div>
    <label for="portConf">Enter an IP and port:</label>
    <input id="portConf" type="text" name="portConf" size="30" placeholder="Port" @bind="_newPort" />
    <input id="ipConf" type="text" name="ipConf" size="30" placeholder="IP" @bind="_ipAddress" />
    <button class="btn btn-primary" @onclick="Added">Create Listener</button>
</div>



@code
{
    private string _ipAddress = string.Empty;
    private string _newPort = string.Empty;

    private void Added()
    {	

        if(PortValid(out int portNo) && IpValid())
        {
            listener.AddListener(portNo, _ipAddress);
        }
        else
        {

        }
    }

    private bool ValidListener() => PortValid(out int portNo) && IpValid() && !DoesListenerExist(portNo);

    private bool DoesListenerExist(int portNo) => listener.CheckCurrentListeners(portNo, _ipAddress);   

    private bool PortValid(out int portNo) => int.TryParse(_newPort, out portNo) && portNo >= 0 && portNo <= 65535;

	private bool IpValid() => IPAddress.TryParse(_ipAddress, out _);
}